@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    background: #FAFAFA !important;
}

a{
    text-decoration: none !important;
    color: inherit;
}
a:hover{
    text-decoration: none !important;
    color: inherit;
}
.nav-logo{
    width: 40px;
    height: auto;
}


.form-control {
    border-radius: 0 !important;
    background-color: #FDFDFF !important;
    font-weight: 400 !important;
}
.form-control:focus {
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 1px solid #0D6EFD !important;

}
.btn {
    border-radius: 0 !important;
    cursor: pointer !important;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none !important;
}
.btn:focus {
    box-shadow: none !important;
}


.ProcessingDiv{
    position: fixed;
    top: 0 !important;
    bottom: 0 !important;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10000  !important;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.modal-content{
    border-radius: 2px !important;
}

.chat-body{
    height: 400px !important;
    overflow-y: scroll;
}
