@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    background: #15192A !important;
}

a{
    text-decoration: none !important;
    color: inherit;
}
a:hover{
    text-decoration: none !important;
    color: inherit;
}
.nav-logo{
    width: 100px;
    height: auto;
}

.border-radius-4{
    border-radius: 4px !important;
}
.border-radius-10{
    border-radius: 10px !important;
}

.chat-item{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px !important;
    font-weight: 300 !important;
    border-radius: 0px 10px 0px 10px
}

.border-radius-0{
    border-radius: 0 !important;
}



.form-control {
    color: white;
    border: none !important;
    border-radius: 3px !important;
    background-color: #0B0E1E !important;
    font-weight: 400 !important;
}
.form-control:focus {
    color: white;
    box-shadow: none !important;
    border-radius:  3px !important;
    border: none !important;

}
.btn {
    border-radius:  3px !important;
    cursor: pointer !important;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none !important;
}
.btn:focus {
    box-shadow: none !important;
}


.ProcessingDiv{
    position: fixed;
    top: 0 !important;
    bottom: 0 !important;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10000  !important;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.modal-header{
    padding: 10px !important;
    background: #15192A !important;
    border: none !important;
}
.modal-content{
    margin: 0 !important;
    padding: 0 !important;
    background: #1F263C !important;
    border-radius: 4px !important;
}
.modal-body{
    margin: 0 !important;
    padding: 0 !important;
}

.chat-body{
    padding: 10px !important;
    height: 360px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
.bg-dark-blue{
    background: #1F263C !important;
}
.active-icon{
    cursor: pointer !important;
    width: 40px;
    height: auto;
}

.video-preview{
    height: 260px;
    border: 1px solid #15192A;
    border-radius: 4px !important;
}

.video-preview-animation{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/radio.svg");
    height: 260px;
    border: 1px solid #15192A;
    border-radius: 4px !important;
}

.call-btn-icon{
    width: 60px;
}
